<div class="contents">
  <div class="posted-content">
    <div class="title-content">
      <%= "Title: #{@art.title} "%><br>
    </div>
    <div class="memo-content">
      <%="Memo: #{@art.memo} "%><br>
    </div>

    <div class="other-images">
      <% @art.images.each do |image| %>
        <div class="other-image">
        <%= link_to image, "data-lightbox": image do %>
            <%= image_tag image.variant(resize: '1000x1000'), class: 'art-image2' %>
        <%end%>
        </div>
      <%end%>
    </div>


      <%= link_to 'Edit', edit_art_path(@art.id), class:"edit btn", method: :get %>
      <%= link_to 'All Delete', art_path(@art.id), class:"delete btn", method: :delete %>

  </div>
</div>