<!DOCTYPE html>
<html>
  <head>
    <title>Eyelevel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

<link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
</script>
<link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
 <script src="https://kit.fontawesome.com/22bb145daa.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <header class="header">
      <div class="header__bar">
        <h1><a class="main-title btn" href="/"><span>E</span><span>y</span><span>e</span><span>l</span><span>e</span><span>v</span><span>e</span><span>l</span><span>*</span></a></h1>
        </div>


        <div class="devise">
          <% if user_signed_in? %>
           <div class="nickname">
            <%= link_to "Name:#{current_user.nickname}", "/users/#{current_user.id}", class:"nickname" %>
           </div>
            <div class="log-in">
                <a class="new btn" href="/arts/new" ><span>Add art</span></a>
                <%= link_to  destroy_user_session_path, method: :delete, class: "logout btn" do%>
                  <span>Log out</span>
                <% end %>
            </div>
          <% else %>
            <div class="log-out">
              <%= link_to new_user_registration_path, class: "up btn" do%><span>sign up</span><% end %>
              <%= link_to new_user_session_path, class: "in btn" do%><span>Log in</span><% end %>
            </div>
          <% end %>
        </div>
      </div>
    </header>

      <%= yield %>

  </body>
</html>

